/* Estilos gerais */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%; /* Garante que o html e body ocupem toda a altura */
  width: 100%; /* Garante que o html e body ocupem toda a largura */
}

h6 {
  font-size: 15px;
}
.app {
  display: grid; /* Use grid ou flexbox conforme necessário */
  flex-direction: column;
  min-height: 100vh; /* Garante que o contêiner ocupe toda a altura da tela */
  width: 100%; /* Garante que o contêiner ocupe toda a largura */
  background-color: #ecab81;
}
.padding {
  padding: 0 5% 0 5%;
}

/* Cabeçalho */
.header {
  background-color: #055e51;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
  align-items: top;
  //position: Relative;
  top: -0px;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 170%;
  z-index: 99;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  height: 80%;
}

li {
  list-style-type: none;
}
/* Seções */
.section1 {
  text-align: center;
  background-image: url("./bg/BGSecao1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 10% 0 0 0;
  align-items: top;
  //position: Relative;
  //top: -20px;
  height: 135%;
}
.section2 {
  text-align: center;
  background-image: url("./bg/BGSecao2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 15% 0 5% 0;
  height: 130%;
  /* display: inline-flex; */
  //position: Relative;
  //top: -130px;
}
.section3 {
  text-align: center;
  background-image: url("./bg/BGSecao03.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 14% 0 0 0;
  height: 134%;

  //position: Relative;
  //top: -260px;
}
.section4 {
  text-align: center;
  background-image: url("./bg/BGSecao04.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  //position: Relative;
  //top: -400px;
  padding: 10% 0 0 0;
  height: 115%;
}
div.imgflores {
  width: 53%;
  display: inline-block;
  text-align: right;
}
div.texto-difereciais {
  display: inline-block;
  text-align: right;
  padding: 0 0 0 10%;
}
div.imgflores2 {
  display: none;
}
div.Sec1Titulo {
  text-align: left;
  padding-top: 25px;
}
div.SecTexto {
  text-align: left;
}
div.SecBotao {
  text-align: center;
  padding-top: 10px;
}
div.SecBotao2 {
  text-align: left;
  padding-top: 10px;
}
.Botao {
  background-color: #721324; /* Cor de fundo: vermelho */
  color: #f1b158; /* Cor do texto: amarelo dourado */
  border: none; /* Remove bordas */
  padding: 10px 20px; /* Aumenta o espaçamento interno */
  text-align: center; /* Alinha o texto ao centro */
  text-decoration: none; /* Remove sublinhado do link */
  display: inline-block; /* Permite ajustar largura e altura */
  font-size: 22px; /* Aumenta o tamanho da fonte */
  margin: 4px 2px; /* Margem externa */
  cursor: pointer; /* Muda o cursor ao passar por cima */
  border-radius: 10px; /* Ajusta o arredondamento dos cantos */
  font-weight: bold; /* Texto em negrito */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Aumenta a sombra ao passar o mouse */
}
.botao:hover {
  background-color: #a0522d; /* Cor de fundo: marrom */
  color: #ffffff; /* Cor do texto: branco */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Aumenta a sombra ao passar o mouse */
}
.Botao-locais {
  background-color: #721324; /* Cor de fundo: vermelho */
  color: #f1b158; /* Cor do texto: amarelo dourado */
  border: none; /* Remove bordas */
  padding: 10px 20px; /* Aumenta o espaçamento interno */
  text-align: center; /* Alinha o texto ao centro */
  text-decoration: none; /* Remove sublinhado do link */
  display: inline-block; /* Permite ajustar largura e altura */
  font-size: 22px; /* Aumenta o tamanho da fonte */
  margin: 4px 2px; /* Margem externa */
  cursor: pointer; /* Muda o cursor ao passar por cima */
  border-radius: 10px; /* Ajusta o arredondamento dos cantos */
  font-weight: bold; /* Texto em negrito */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Aumenta a sombra ao passar o mouse */
}
.botao-locais:hover {
  background-color: #a0522d; /* Cor de fundo: marrom */
  color: #ffffff; /* Cor do texto: branco */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Aumenta a sombra ao passar o mouse */
}
.box-porque1 {
  text-align: right;
  width: 40%;
}

.box-porque2 {
  text-align: left;
  width: 60%;
}
div.box {
  display: inline-block;
  padding: 5% 0 2% 0;
}
div.foto-abraco {
  float: right;
  display: inline-block;
  padding: 5% 0 2% 0;
}

.Botao-maior {
  background-color: #721324; /* Cor de fundo: vermelho */
  color: #f1b158; /* Cor do texto: amarelo dourado */
  border: none; /* Remove bordas */
  padding: 10px 20px; /* Aumenta o espaçamento interno */
  text-align: center; /* Alinha o texto ao centro */
  text-decoration: none; /* Remove sublinhado do link */
  display: inline-block; /* Permite ajustar largura e altura */
  font-size: 22px; /* Aumenta o tamanho da fonte */
  margin: 4px 2px; /* Margem externa */
  cursor: pointer; /* Muda o cursor ao passar por cima */
  border-radius: 10px; /* Ajusta o arredondamento dos cantos */
  font-weight: bold; /* Texto em negrito */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Aumenta a sombra ao passar o mouse */
}
.botao-maior:hover {
  background-color: #a0522d; /* Cor de fundo: marrom */
  color: #ffffff; /* Cor do texto: branco */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Aumenta a sombra ao passar o mouse */
}
@media screen and (max-width: 700px) {
  .desk-jazibo {
    display: none;
  }
}
.mobile-jazibo {
  display: none;
}
@media screen and (max-width: 700px) {
  .mobile-jazibo {
    display: inline;
    text-align-last: center;
  }
}
@media screen and (max-width: 700px) {
  .descricao-jazibo {
    display: none;
  }
}
.descMobile {
  display: none;
}
@media screen and (max-width: 700px) {
  .descMobile {
    display: contents;
  }
}

@media screen and (max-width: 700px) {
  .tam-jazibo-mobile {
    width: 85%;
  }
}
.box1 {
  display: inline-block;
  text-align: right;
  padding: 2% 0 4% 0;
}

div.box2 {
  display: inline-block;
  text-align: center;
  padding: 2% 0 2% 0;
  width: 113%;
}

.moradas {
  padding: 0 100px;
}

.parques {
  justify-content: center;
  display: inline-flex;
  padding: 2% 0 0 0;
}

.parques-fotos {
  display: inline-flex;
}

div.locais {
  text-align: left;
}

div.locais-texto {
  text-align: left;
}

.titulo-dife {
  width: 40%;
}
.tam-icone1-mobile {
  display: none;
}
.tam-text1-mobile {
  display: none;
}
.fotos-locais {
  width: 100%;
}
.desc-locais {
  width: 90%;
}
.area-botao {
  padding-left: 10px;
}

.col-icone {
  text-align-last: right;
}
.icone2 {
  text-align: left;
}
.icone3 {
  display: inline-block;
  padding: 10% 0 0% 0;
}
.linha-1 {
  display: inline-flex;
  padding-top: 3%;
}
.linha-1-mobile {
  display: none;
}
.linha-2-mobile {
  display: none;
}
.linha-2 {
  display: inline-flex;
  padding-top: 3%;
}
.linha-3 {
  display: inline-flex;
  padding-top: 3%;
}
.linha-3-mobile {
  display: none;
}
.text-icone {
  text-align: left;
}
.text-icone2 {
  text-align: right;
}
.tam-icone1 {
  width: 75%;
}
.tam-icone2 {
  width: 85%;
}
.tam-icone3 {
  width: 75%;
}
.tam-text1 {
  width: 90%;
}
.tam-text2 {
  width: 87%;
}
.tam-text3 {
  width: 90%;
}

div.box4 {
  width: 50%;
  width: auto;
  display: inline-block;
  justify-content: left;
}
div.boxForm {
  align-items: right;
  width: 32%;
  display: inline-block;

  text-align: left;
  padding: 5% 0 5% 0;
  font-size: 10px;
}

/* Formulário */
.sectionForm {
  text-align: center;
  background-image: url("./bg/BGSecao06.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0% 0 10% 0%;
  height: 100%;

  //position: Relative;
  //top: -500px;
}

.boxFormSpace {
  margin-left: 100%;
  align: right;
}
.title-form {
  font-size: 20px;
  font-weight: bold;
}

.form-label {
  margin-top: 10px;
  margin-bottom: 1px;
  font-size: 13px;
}
.form-check-label {
  font-size: 12px;
  white-space: normal;
}

.form-control {
  width: 85%;
  //padding: 1px 5px;
  line-height: 10px;
  font-size: 10px;
  margin: 0px 0px 0px 0px;
}
.form-select {
  width: 85%;
  //padding: 1px 5px;
  line-height: 10px;
  font-size: 10px;
}
.input-group {
  width: 85%;
}
.input-group-text {
  display: flex;
  align-items: center;
  padding: 1px 1px;
  font-size: 10px;
}
.Botao-form {
  background-color: #721324; /* Cor de fundo: vermelho */
  color: #f1b158; /* Cor do texto: amarelo dourado */
  border: none; /* Remove bordas */
  padding: 10px 20px; /* Aumenta o espaçamento interno */
  text-align: center; /* Alinha o texto ao centro */
  text-decoration: none; /* Remove sublinhado do link */
  display: inline-block; /* Permite ajustar largura e altura */
  font-size: 22px; /* Aumenta o tamanho da fonte */
  margin: 4px 2px; /* Margem externa */
  cursor: pointer; /* Muda o cursor ao passar por cima */
  border-radius: 10px; /* Ajusta o arredondamento dos cantos */
  font-weight: bold; /* Texto em negrito */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Aumenta a sombra ao passar o mouse */
}
.botao-form:hover {
  background-color: #a0522d; /* Cor de fundo: marrom */
  color: #ffffff; /* Cor do texto: branco */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Aumenta a sombra ao passar o mouse */
}
.morada_logo {
  width: 23%;
}
.icone-social {
  width: 45px;
}
.titulo-opn {
  width: 30%;
  padding-bottom: 1%;
}
.texto-link {
  font-size: 20px;
  color: white;
  padding-bottom: 14px;
  font-family: initial;
}
/* Rodapé */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.carosel {
  padding: 20px;
}

.img40 {
  width: 40%;
}
.img80 {
  width: 80%;
}
.img70 {
  width: 70%;
}
.img100 {
  width: 100%;
}
.img50 {
  width: 50%;
}
.img110 {
  width: 110%;
}
.img35 {
  width: 35%;
}
.img120 {
  width: 120%;
}
.img20 {
  width: 20%;
}
.img10 {
  width: 10%;
}
.imgabraco {
  width: 100%;
}

.space-form {
  display: none;
}
.img-titulo-modile {
  display: none;
}
.imgabraco-mobile {
  display: none;
}
@media screen and (max-width: 700px) {
  .header {
    background-color: #055e51;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    //position: Relative;
    top: -0px;
    list-style: none;
    margin: 0;
    padding: 0;
    /* height: 260%; */
  }
  .header-logo {
    width: 25%;
  }

  div.box {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  div.box2 {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  .text-jazibo-mobile {
    width: 100%;
  }

  .section1 {
    text-align: center;
    background-image: url("./bg/BGSecao1Mobi.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10% 0 0 0;
    align-items: top;
    //position: Relative;
    //top: -20px;
    height: 125%;
  }

  div.imgflores2 {
    display: inline-block;
    width: 70%;
  }

  div.boxForm {
    align-items: center;
    width: 100%;
    display: inline-block;

    text-align: left;
    padding: 5% 0 5% 0;
    font-size: 10px;
  }

  @media screen and (max-width: 700px) {
    .imgflores2 {
      width: 70%;
    }
  }

  div.imgflores {
    display: none;
  }
  div.Sec1Titulo {
    display: inline-block;
    text-align: center;
    padding: 0 0 0 0;
  }
  div.SecTexto {
    text-align: center;
  }
  div.SecBotao {
    text-align: center;
  }
  div.SecBotao2 {
    text-align: center;
  }
  .Botao {
    background-color: #721324; /* Cor de fundo: vermelho */
    color: #f1b158; /* Cor do texto: amarelo dourado */
    border: none; /* Remove bordas */
    padding: 5px 10px; /* Espaçamento interno */
    text-align: center; /* Alinha o texto ao centro */
    text-decoration: none; /* Remove sublinhado do link */
    display: inline-block; /* Permite ajustar largura e altura */
    font-size: 12px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem externa */
    cursor: pointer; /* Muda o cursor ao passar por cima */
    border-radius: 5px; /* Arredonda os cantos */
    font-weight: bold; /* Texto em negrito */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra */
  }
  .botao:hover {
    background-color: #a0522d; /* Cor de fundo: marrom */
    color: #ffffff; /* Cor do texto: branco */
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5); /* Sombra mais intensa */
  }
  .box1 {
    padding: 2% 0 0 0;
  }
  .section2 {
    text-align: center;
    background-image: url("./bg/BGSecao2Mobi.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20% 0 5% 0;
    height: 110%;
    //position: Relative;
    //top: -130px;
  }
  .parques {
    display: flow;
    padding: 2% 0 0 0;
  }

  .parques-fotos {
    width: 85%;
    padding-bottom: 3%;
  }
  .titulo-local {
    width: 100%;
    padding-bottom: 2%;
    padding-right: 2%;
  }
  .Botao-locais {
    background-color: #721324; /* Cor de fundo: vermelho */
    color: #f1b158; /* Cor do texto: amarelo dourado */
    border: none; /* Remove bordas */
    padding: 2px 11px; /* Espaçamento interno */
    text-align: center; /* Alinha o texto ao centro */
    text-decoration: none; /* Remove sublinhado do link */
    display: inline-block; /* Permite ajustar largura e altura */
    font-size: 11px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem externa */
    cursor: pointer; /* Muda o cursor ao passar por cima */
    border-radius: 4px; /* Arredonda os cantos */
    font-weight: bold; /* Texto em negrito */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra */
  }
  .botao-locais:hover {
    background-color: #a0522d; /* Cor de fundo: marrom */
    color: #ffffff; /* Cor do texto: branco */
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5); /* Sombra mais intensa */
  }
  div.box {
    padding: 0;
  }
  .img-estrela {
    width: 50%;
  }
  .texto-estrela {
    width: 90%;
    padding: 3% 5% 0% 5%;
  }
  .Botao-maior {
    padding: 3px 18px;
    font-size: 19px;
    border-radius: 8px;
  }
  .center {
    padding-top: 15px;
  }
  .section3 {
    text-align: center;
    background-image: url("./bg/BGSecao03Mobi.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0% 0 0 0;
    height: 140%;

    //position: Relative;
    //top: -260px;
  }
  .titulo-dife {
    width: 80%;
  }

  .texto-difereciais {
    padding: 10% 0 0 7%;
  }

  .img-titulo-dife {
    width: 120%;
  }

  .img-texto-dife {
    width: 132%;
    margin-top: -10%;
  }

  .section4 {
    text-align: center;
    background-image: url("./bg/BGSecao04Mobi.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 15%;
    height: 120%;
    //position: Relative;
    //top: -400px;
    /* padding: 40% 0 0 0;
    height: 200%; */
  }
  .linha-1 {
    display: none;
  }
  .linha-1-mobile {
    display: inline;
  }
  .linha-2 {
    display: none;
  }
  .linha-2-mobile {
    display: inline;
  }
  .linha-3 {
    display: none;
  }
  .linha-3-mobile {
    display: inline;
  }
  .tam-icone1-mobile {
    width: 100%;
    display: inline;
    padding: 0 10% 0 0%;
  }
  .tam-text1-mobile {
    width: 90%;
    display: inline;
    padding: 0 10% 0 0%;
  }
  .tam-text2-mobile {
    width: 100%;
    padding: 0 10% 0 0%;
  }
  .tam-text-mobile {
    width: 95%;
    padding: 0 10% 0 0%;
  }
  .tam-icone3-mobile {
    width: 100%;
    padding: 0 3% 0 0%;
  }
  .icone3 {
    padding: 0;
  }

  div.box3 {
    width: 33%;
    display: inline-block;
    text-align: center;
  }
  div.box4 {
    width: 50%;
    width: auto;
    display: inline-block;
    justify-content: left;
  }
  .sectionForm {
    background-image: url("./bg/BGSecao05Mobi.png");
    padding: 0% 0 13% 0%;
  }

  .boxFormSpace {
    margin-left: 0;
  }

  .img-form-mobile {
    width: 100%;
    padding-top: 0%;
  }
  .space-form {
    display: inline-flex;
    padding-left: 0%;
  }

  .img-opt {
    width: 75%;
  }
  .area-botao-form {
    text-align: center;
  }
  .Botao-form {
    padding: 2px 11px;
    font-size: 20px;
    border-radius: 8px;
  }
  .morada_logo {
    width: 50%;
  }
  .icone-social {
    width: 8%;
  }
  .titulo-opn {
    width: 50%;
    padding-bottom: 10%;
  }
  .texto-link {
    font-size: 10px;
    color: white;
    padding-bottom: 14px;
    font-family: initial;
  }
  .img-vaso {
    width: 60%;
  }
  .imgabraco {
    display: none;
  }

  .img-titulo-dife {
    display: none;
  }
  .img-titulo-modile {
    display: block;
    width: 130%;
    text-align: center;
    margin-top: 55%;
  }
  .imgabraco-mobile {
    display: inline;
    width: 80%;
    float: right;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    padding-right: 0;
    right: 0;
    margin-top: -30px; /* Ajusta a margem superior para subir a imagem */
  }
  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 0;

    margin-top: var(--bs-gutter-y);
  }
}

@media screen and (max-width: 700px) {
  .Botao,
  .Botao-locais,
  .Botao-maior,
  .Botao-form {
    padding: 6px 12px; /* Aumenta o espaçamento interno */
    font-size: 12px; /* Aumenta o tamanho da fonte */
    border-radius: 12px; /* Ajusta o arredondamento dos cantos */
  }

  .botao:hover,
  .botao-locais:hover,
  .botao-maior:hover,
  .botao-form:hover {
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5); /* Aumenta a sombra ao passar o mouse */
  }
}

.card-depoimento {
  background-color: #004d40; /* Cor verde escura */
  border-radius: 20px;
  padding: 20px 30px;
  margin: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 100%;
}

.estrelas {
  color: #ffd700; /* Cor amarela para as estrelas */
  font-size: 24px;
  margin-bottom: 15px;
}

.depoimento-texto {
  color: white;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}

.depoimento-autor {
  display: flex;
  align-items: center;
  gap: 10px;
}

.autor-foto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.autor-nome {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.card-depoimento {
  padding: 15px 20px;
  margin: 90px;
}

@media screen and (max-width: 700px) {
  .card-depoimento {
    padding: 15px 20px;
    margin: 40px;
  }

  .depoimento-texto {
    font-size: 14px;
  }

  .autor-foto {
    width: 35px;
    height: 35px;
  }

  .autor-nome {
    font-size: 14px;
  }
  .title-form {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  form {
    padding: 0 4% 0 10%;
  }
  section {
    padding: 15px 0;
  }
  .social-links {
    padding: 10% 0 0 0;
  } 
  .carousel-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente, se necessário */
    width: 100%; /* Garante que o contêiner ocupe toda a largura */
    max-width: 800px; /* Define uma largura máxima */
    height: 600px; /* Define uma altura fixa */
    margin: 0 auto; /* Centraliza o contêiner em relação ao seu pai */
    padding: 0 0; /* Adiciona espaçamento vertical, se necessário */
    box-sizing: border-box; /* Inclui padding e border na largura total */
  }
}

/* Reset básico */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Garante que o html e body ocupem toda a altura */
  width: 100%; /* Garante que o html e body ocupem toda a largura */
}

.carousel-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente, se necessário */
  width: 100%; /* Garante que o contêiner ocupe toda a largura */
  max-width: 800px; /* Define uma largura máxima */
  height: 600px; /* Define uma altura fixa */
  margin: 0 auto; /* Centraliza o contêiner em relação ao seu pai */
  padding: 0 0; /* Adiciona espaçamento vertical, se necessário */
  box-sizing: border-box; /* Inclui padding e border na largura total */
}
